[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-sqlalchemy = "==2.3.2"
"psycopg2-binary" = "*"
flask-testing = "==0.6.2"
"flake8" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
